
.main {
    display: flex;
    flex-direction: row;
}

.left {
    width: 50%;
}

.right {
    width: 50%;
}

input {
    width: 75%;
    padding: 0.8rem;
    padding-left: 2.5rem;
    border: transparent;
    background-color: #405D72;
    border-radius: 10px;
    color: white;
}

input::placeholder {
    color: white;
}

input:focus {
    border-color: transparent;
    outline: none;
}

.search-img {
    width: 15px;
    height: auto;
    position: absolute;
    top: 2.75rem;
    left: 6%;
}

.search-img:hover {
    cursor: pointer;
}

.input-bar {
    display: flex;
    flex-direction: row;
}

.select-unit {
    display: flex;
    margin: 0;
    margin-left: 2rem;
    /* font-size: 1.5rem; */
}

.celcius , .vertical-line, .farenhiet {
    display: inline;
}

.celcius {
    margin-left: 1.5rem;
}

.celcius , .farenhiet {
    cursor: pointer;
}

